
*{
  margin: 20px;
  padding: 0;
}


.target {
  display: flex;
  align-items: center;
  justify-content: center;
  background: blue;
  color: white;
  width: 100px;
  margin: 20px;
  height: 30px;
  border-radius: 20px;
  padding: 20px;
}

.button{
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
}